<div class="container">
  <h3>Edit this Q</h3>
  <hr>
    <form>
      <div class="form-group">
        {{textarea rows="2" cols="40" value=q.text id="text"}}
      </div>
      <div class="form-group">
        {{textarea rows="1" cols="40" value=q.author id="author"}}
      </div>
      <div class="form-group">
        <label for="notes">Add Extra Details Here</label>
        <br>
        {{textarea rows="6" cols="40" value=q.notes id="notes"}}
      </div>
      <button class="btn"{{action 'update' q}}>Save</button>
    </form>
</div>
