<div>
  <h1>Edit this Q</h1>
  <hr>
    <form>
      <div class="form-group">
        {{input value=q.text id="text"}}
      </div>
      <div class="form-group">
        <label for="date">Your Name</label>
        {{input value=q.author id="author"}}
      </div>
      <div class="form-group">
        <label for="neighborhood">Add Extra Details Here</label>
        <br>
        {{textarea rows="6" cols="40" value=q.notes id="notes"}}
      </div>
      <button class="btn"{{action 'update' q}}>Save</button>
    </form>
</div>
